{% extends "base.html" %}
{% block title %}
Авторизация
{% endblock %}
{% block content %}
<div class="card" style="width: 40%; margin-left: auto; margin-right: auto; margin-top: 15%;">
    <div class="card-body">
        <h5 class="card-title" style="text-align:center">Авторизация</h5>
        <form action="" method="post" novalidate>
            {% if uncorrect %}
            <div class="alert alert-danger" role="alert">
                Неправильный логи и/или пароль
            </div>
            {% endif %}
            {{ form.hidden_tag() }}
            <p class="card-text">
                {{ form.username.label(for="username") }}<br>
            <div class="form-group">
                {{ form.username(class_='form-control', id="username") }}<br>
            </div>
            {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p class="card-text">
                {{ form.password.label(for="password") }}<br>
                {{ form.password(class_='form-control', id="password") }}<br>
                {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p class="card-text">{{ form.submit(class_="btn btn-primary", style="float: right")
                }}</p>
        </form>
    </div>
</div>
{% endblock %}