{% extends "user.html" %}

{% block title %}
Рецепты
{% endblock %}

{% block user_content %}
{% for recipe in recipes %}
<div class="card" style="width: 23%; height:26em; margin-top:1%; margin-left:1%; margin-right:1%; float:left;">
    <img src="{{recipe[4]}}" class="card-img-top" alt="НЕТ ИЗОБРАЖЕНИЯ">
    <div class="card-body">
        <h5 class="card-title">{{ recipe[1][:20] }}</h5>
        <p style="white-space: pre-wrap;" class="card-text">{{ recipe[3][:80] }}...</p>
    </div>
    <a href="/recipe/{{ recipe[0] }}" class="btn btn-primary" style="width:90%; margin-bottom:3%; margin-left:auto; margin-right:auto; ">Больше</a>
</div>
{% endfor %}
{% endblock %}