{% extends "base.html" %}
{% block title %}

{% endblock %}
{% block content %}


<ul class="nav justify-content-end" style="background-color: white">
    <a class="nav-link disabled mr-auto" style="font-size:20px" href="/recipes">Recipe</a>
    {% if session["administrator"] == 1 %}
    <li class="nav-item">
        <a class="nav-link" href="/admin">Панель администратора</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link active" href="/recipes/add">Добавить рецепт</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="/logout">Выйти</a>
    </li>

</ul>

{% block user_content %}

{% endblock %}
{% endblock %}